@font-face {
    font-family: "bangers";
    src: url("../fuentes/Bangers/Bangers-Regular.ttf");
}

@font-face {
    font-family: "inter";
    src: url("../fuentes/Inter/static/Inter_18pt-Regular.ttf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "inter";
}

header {
    width: 100%;
    height: 10vh;
    font-family: "inter";
}

/*=================== ZONA NAVEGABLE =================*/

nav {
    width: 100%;
    height: 100%;
    background-color: #4A5972;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.logo-empresa {
    width: 10%;
    height: 70%;
    background: url("../img/loco-claro-horinzontal.png") no-repeat;
    background-size: 100%;
}

.interactivo {
    border: 2px solid red;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-busqueda {
    width: 30%;
    height: 50%;
    background-color: #E0E4ED;
}


/*=================== CENTRO =================*/

#centro {
    width: 100%;
    height: 45vh;
    display: flex;
}

.cuadro-centro {
    width: 50%;
    height: 100%;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-centro{
    background-color: white;
    width: 70%;
    height: 50%;
    margin-left: 10%;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.titulo-info-centro {
    width: 100%;
    font-family: "bangers";
    display: flex;
    align-items: center;
    gap: 3%;
    height: 40%;
}

.noticia{
    font-size: 42px;
}

.descuento {
    font-size: 72px;
}

.mensaje-info-centro{
    font-size: 18px;
    height: 20%;
}

.condiciones-boton {
    display: flex;
    align-items: center;
    gap: 15%;
    height: 40%;
}

.condiciones {
    font-size: 16px;
}

.condiciones-boton button {
    width: 28%;
    height: 90%;
    background-color: #CC3366;
    border: none;
    font-family: "inter";
    color: white;
    border-radius: 5px;
    font-size: 14PX;
}

.condiciones-boton button:hover{
    background-color: #EE3366;
    cursor: pointer;
}

.imagen-centro {
    width: 50%;
    height: 100%;
}


/*=================== PRODUCTOS DESTACADOS =================*/
#productos-destacados {
    width: 100%;
    height: 45vh;
    background-color: #4A5972;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.cuadro-producto{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
}

.imagen-producto {
    height: 70%;
    background-color: white;
    border-radius: 15px;
}

.botones-productos {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.boton-agregar {
    width: 48%;
    height: 100%;
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
}

.boton-agregar:hover {
    background-color: rgb(123, 70, 175);
    cursor: pointer;
}

.boton-descripcion {
    width: 48%;
    height: 100%;
    background-color: aqua;
    border-radius: 5px;
    border: none;
}

.boton-descripcion:hover {
    background-color: rgb(130, 253, 253);
    cursor: pointer;
}
